/* AddProduct.css - Responsive Design */
.add-product-container {
    max-width: 100%; /* Allow the container to expand up to 100% of the viewport width */
    margin: 0 auto;
    padding: 20px;
}

.AddProductHeader h2 {
    margin-top: 5%; /* Use relative units */

}

.single-upload-section,
.batch-upload-section {
    margin-top: 5%; /* Use relative units for spacing */
}

.addproductradio-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* This ensures vertical alignment */
  gap: 8px; /* Adjust as needed to bring label and radio button closer */
}

.addproductradio-button {
  margin: 0; /* Removes any default margin */
  /* Remove the 'order' property if it's not aligning correctly */
}

.addproductradio-label {
  margin: 0; /* Removes any default margin */
  /* No need to set font-size here unless you want to change it */
}

/* Ensure that the flex container is not wider than necessary */
.addproductradio-group {
  width: fit-content;
}

.single-upload-form {
  padding: 0 1rem; /* This padding will prevent children from touching the edges of the form */
}
  

/* Adjust the width and margin of form elements responsively */
input[type="radio"],
.single-upload-form input[type="text"],
.single-upload-form input[type="number"],
.single-upload-form input[type="imageurl"],
.single-upload-form input[type="linkurl"],
.single-upload-form select,
.single-upload-form textarea,
.single-upload-form .react-select__control {
  width: calc(100% - 2rem); /* This will calculate the width as the full width of the form minus some space for padding */
  margin-bottom: 1rem; /* Adjust the space between elements */
  padding: 0.5rem; /* Padding inside the elements */
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
    display: block; /* Make labels take their own line for clarity */
    margin-bottom: 1%; /* Use relative units for spacing */
}

button[type="submit"] {
    display: block; /* Make the button take its own line */
    width: auto; /* Allow the button width to adjust based on its content */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2% auto; /* Center the button and add spacing from the above elements */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
  .AddProductHeader h2 {
    margin-top: 120px; /* Adjust this value based on your navbar's height */
  }
}
