/* AddProduct.css */
.add-product-container {
    max-width: 300px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 100px;
}

h3 {
    margin-top: 50px;
}

.radio-container {
    display: flex;
    align-items: center; /* This will vertically align items in the middle */
    /* This will add space between the radio options and the button */
    margin-bottom: 0px; /* This gives some space below the container */
}

.single-upload-section {
    margin-bottom: 5px; /* Reduce this to decrease space after the first option */
    margin-top: 30px;
    margin-right:2370px;
}

.batch-upload-section {
    margin-top: 5px; /* Reduce this to decrease space before the second option */
    margin-right:2370px;
}

.header{
    margin-top: 50px;
    margin-left: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form {
    margin-top: 10px;
}

input,
select,
textarea {
    width: 45%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 10px; 
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
