.user-management-container {
  background-color: #ffe2e6;
  padding: 2rem;
  max-width: 90%;
  margin: 80px auto 10%; /* Adjust margin-top and remove negative margin */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-management-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1% 2%; /* Adjust top and bottom padding */
  margin-top: -10%;
}

.user-management-search-container {
  display: flex;
  align-items: baseline;
  padding: 10px;
  max-width: 300px;
  margin: 0 auto; /* Center the search bar horizontally */
  margin-right: 40px; /* Remove the left margin to move the search bar to the left */
}


.user-management-search-bar-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: black; /* Button background */
  color: white; /* Button text */
  cursor: pointer;
}

.user-suspend-partner-button,
.user-activate-partner-button {
  width: 100px; /* Set a fixed width for the buttons */
  height: 40px; /* Set a fixed height for the buttons */
  /* Other button styles */
}

.user-management-table {
  width: 90%;
  margin-top: 2rem ; /* Adjust margin-top as needed */
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: #fff;
}

.user-management-table th,
.user-management-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.user-management-table th {
  background-color: #f8f8f8;
}

.user-management-action-column {
  width: 5%; /* Adjust the width as needed */
  text-align: center; /* Optional: Centers the content */
}

.user-suspend-partner-button {
  background-color: #ff0000; /* Red background for suspend button */
  color: #ffffff; /* White text color */
  border: none;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.user-activate-partner-button {
  background-color: #00ff00; /* Green background for activate button */
  color: #ffffff; /* White text color */
  border: none;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Hover effect */
.user-suspend-partner-button:hover,
.user-activate-partner-button:hover {
  filter: brightness(0.8); /* Darken the button on hover */
}

@media (max-width: 768px) {
  .user-management-header {
    flex-direction: column;
  }

  .user-management-container {
    background-color: #ffe2e6;
    padding: 2rem;
    max-width: 90%;
    margin: 80px auto 10%; /* Adjust margin-top and remove negative margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }  
}
