.partner-management-white-box {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1% 0; /* Remove horizontal margins */
  margin-top: -25px;
  padding: 0; /* Set padding to 0 */
}

.partner-management-container {
    background-color: #ffe2e6;
    min-height: 100vh;
    padding: 0;
    margin-top: 0px;
  }
  
  .partner-management-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 2%;
    margin-top: 100px;
    
  }
  
  .partner-management-search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; /* Space between search input and button */
    margin-bottom: 50px; /* Space below the search area */
  }
  
  .partner-management-search-container label,
  .partner-management-search-container input[type="text"],
  .partner-management-search-container button {
    height: 40px; /* Ensuring all children have the same height */
    padding: 0 10px; /* Providing padding within the children */
    margin: 0; /* Removing any default margins */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .partner-management-search-container label{
    margin-top:15px;
  }
  
  .partner-management-search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    flex-grow: 1;
  }
  
  .partner-management-search-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black; /* Button background */
    color: white; /* Button text */
    cursor: pointer;
  }
  
  .partner-management-filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; /* Space between search input and button */
    margin-bottom: 50px; /* Space below the search area */
  }
  
  .partner-management-search-container button:hover {
    background-color: #555; /* Button hover effect */
  }

  .partner-management-table {
    width: 90%; /* Adjusted to match user management style */
    margin-top: 1rem;
    margin-left: auto; /* Center the table horizontally */
    margin-right: auto;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  .partner-management-table th,
  .partner-management-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  
  .partner-management-table th {
    background-color: #f8f8f8;
  }

  .partner-management-table .partner-management-action-column {
    width: 5%; /* Adjust the width as needed */
    text-align: center; /* Optional: Centers the content */
  }

  @media (max-width: 768px) {
    .partner-management-header,
    .partner-management-search-bar {
      flex-direction: column;
    }
  
    .partner-management-search-bar input[type="text"],
    .partner-management-search-bar button {
      width: 100%;
    }
  }
