body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: white; /* Replace with the specific background color or image you need */
  }
  
  /* The login container */
  .password-container {
    width: 350px;
    margin: 0 auto;
    padding-top: 100px; /* Adjust as needed */
    text-align: center;
  }
  
  /* The logo and header styles */
  .password-header {
    color: #000; /* Adjust color as needed */
    margin-bottom: 20px;
    font-size: 24px; /* Adjust size as needed */
  }
  
  /* Styling for the form inputs */
  .password-form input[type="text"],
  .password-form input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for the links */
  .password-form a {
    color: #000; /* Adjust color as needed */
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
  }
  
  .password-form a:hover {
    text-decoration: underline;
  }
  
  /* Styling for the submit button */
  .password-form input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #000; /* Adjust button color as needed */
    color: white;
    cursor: pointer;
  }
  
  .password-form input[type="submit"]:hover {
    background-color: #555; /* Darker shade for hover effect */
  }
  
  /* If you have additional text or elements, you can add more styles here */
  .password-form p {
    color: #000; /* Adjust as needed */
  }
  
  /* Adjust media query breakpoints as needed for responsive adjustments */
  @media (max-width: 768px) {
    .password-container {
      width: 90%;
    }
  }