body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffe2e6; /* Replace with the specific background color or image you need */
}

.Interestsurvey-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 5%; /* Adjust padding for smaller screens */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%; /* Adjust margin-top for smaller screens */
  background-color: #f8d7e6;
  border-radius: 20px;
}


.Interestsurvey-form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2em;
}

.Interestsurvey-form label div {
  margin-top: 0.5rem;
}

.Interestsurvey-form input[type="text"],
.Interestsurvey-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.Interestsurvey-form select {
  width: 100%;
  padding: 0.5rem; /* Add more padding for a better appearance */
  border: 1px solid #ccc; /* Optional border color, can be adjusted */
  border-radius: 0.5rem; /* Rounded corners for the select element */
  background-color: white; /* Background color for the select element */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%; /* Adjust the position as needed */
  background-size: 0.65em auto; /* Adjust the size as needed */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Optional: adds subtle shadow */
  cursor: pointer; /* Changes cursor to pointer to indicate it's a dropdown */
  -webkit-appearance: none; /* Removes default styling particularly in WebKit browsers */
  -moz-appearance: none; /* Removes default styling for Firefox */
  appearance: none;
}

.Interestsurvey-form input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.Interestsurvey-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;; /* Adjust as needed */
  width: 100%;
} 

.InterestButton {
  display: block;
  width: 100%; /* Set width to 100% for responsiveness */
  padding: 0.5rem 1rem;
  background-color: #333 !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem; /* Add margin-top for separation */
}

.Select-menu-outer {
  max-height: 300px !important; /* Adjust the value as needed */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .Interestsurvey-form {
    padding: 10%;
    margin-top: 20vh;
  }
  
  /* Additional styles for the header to make sure it stacks below the hamburger menu */
  .Interestsurvey-header {
    order: 2; /* Use Flexbox ordering if your header is within a flex container */
    margin-top: 25vh !important; /* Adjust this value to add some space above the title */
  }
  
  /* You might need to add styles for the navbar button if it's part of the layout */
  .navbar-button {
    order: 1; /* Ensure the button stays at the top */
  }
}

