body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffe2e6; /* Replace with the specific background color or image you need */
}

.Interestsurvey-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 5%; /* Adjust padding for smaller screens */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%; /* Adjust margin-top for smaller screens */
  background-color: #f8d7e6;
  border-radius: 20px;
}

.Interestsurvey-form h2 {
  text-align: center;
}

.Interestsurvey-form label {
  display: block;
  margin-bottom: 15px;
}

.Interestsurvey-form label div {
  margin-top: 5px;
}

.Interestsurvey-form input[type="text"],
.Interestsurvey-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Interestsurvey-form input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.Interestsurvey-header {
  text-align: center;
  margin-top: 10%; /* Adjust as needed */
} 

.InterestButton {
  display: block;
  width: 100%; /* Set width to 100% for responsiveness */
  padding: 0.5rem 1rem;
  background-color: #333 !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem; /* Add margin-top for separation */
}

.Select-menu-outer {
  max-height: 300px !important; /* Adjust the value as needed */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .Interestsurvey-form {
    padding: 10%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 576px) {
  .Interestsurvey-form {
    padding: 15%;
    margin-top: 15%;
  }
}

