.why-join-us-container {
  background-color: #ffe2e6; /* Background color of the page */
  text-align: center; /* Center the text */
  padding: 5vh 0; /* Padding relative to the height of the viewport */
}

.why-join-us-container h2 {
  color: #333;
  margin-bottom: 0.5rem; /* Decreased space below the subtitle */
  margin-top: 5rem;
  text-align: center;
  width: 100%;
  display: block;
}
  
  .benefits {
    display: flex; /* Align benefits side by side */
    justify-content: center; /* Center the benefits */
    flex-wrap: wrap; /* Wrap onto the next line if screen is small */
    gap: 20px; /* Space between the benefits */
  }
  
  .benefit-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Use a percentage to allow it to scale with the container */
    max-width: 300px; /* Set a max-width to prevent it from getting too large on bigger screens */
    padding: 1em; /* Use em units for padding to scale with text size */
    margin: 1em; /* Use em units for margin to scale with text size */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .benefit-item .icon {
    font-size: 1.5em; /* Use em units for the icon to scale with text size */
    margin-bottom: 0.5em; /* Adjust margin to em for scalability */
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .benefits {
      flex-direction: column; /* Stack benefits on top of each other */
    }
  
    .benefit-item {
      width: 80%; /* Increase width for small screens */
      margin: 10px auto; /* Center the benefit items */
    }
  }