.partner-profile-container {
  background-color: #9ae9adf9;
  padding: 1vw 1vw; /* Smaller padding */
  max-width: 30%; /* Narrower maximum width */
  margin-top: 8vw;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  border-radius: 2vw;
  box-shadow: 0 0.5vw 1.25vw rgba(0, 0, 0, 0.1);
}
  
  .partner-profile-form {
    display: flex;
  flex-direction: column;
  }
  
  .partner-profile-form h1 {
    text-align: center;
  margin-bottom: 1vw; /* Responsive margin bottom */
  }
  
  .partner-profile-form label {
    margin-bottom: 1vw; /* Responsive margin bottom */
    color: #333;
  }
  
  .partner-profile-form input[type="text"],
  .partner-profile-form input[type="date"],
  .partner-profile-form select {
    width: 100%;
    padding: 0.6vw; /* Responsive padding */
    margin-top: 0.5vw; /* Responsive margin top */
    border: 0.1vw solid #ccc; /* Responsive border */
    border-radius: 0.5vw; /* Responsive border radius */
  }
  
  /* Adjust the size of radio buttons on smaller screens if necessary */
  .partner-profile-form input[type="radio"] {
    margin-right: 0.5rem; /* Use rem for consistent spacing */
  }
  
  .partner-profile-form button {
    padding: 1vw 2vw; /* Responsive padding */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5vw; /* Responsive border radius */
  cursor: pointer;
  margin-top: 1vw; /* Responsive margin top */
  align-self: center;
  }

  .partner-profile-form button:hover {
    background-color: #555;
  }