body, html {
  background-color: #ffe2e6; /* Light pink background */
  height: 100%; /* Full viewport height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  color: #333; /* Color for the subtitle */
  margin-bottom: 10px; /* Space below the subtitle */
  text-align: center;
}

/* Center the form container on the page */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  padding: 20px; /* Spacing inside the container */
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

/* Style the input containers */
.label-input-container, .radio-container {
  width: 200%; /* Full width */
  margin-bottom: 10px; /* Space between inputs */
  margin-left: 1050px;
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
}

/* Style the labels */
.label {
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold font for labels */
}

/* Style the input fields */
.input-field {
  padding: 10px;
  margin-bottom: 10px; /* Space between inputs */
  border: 1px solid #ddd; /* Light border for inputs */
  border-radius: 5px; /* Slightly rounded corners for inputs */
}

/* Style the radio buttons and their labels */
.radio-container label {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the space between the radio buttons */

}

/* Style the submit button */
button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1 rem;  
color: black; 
background-color: #ffe2e6;
border: none; 
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
transition: background-color 0.3s ease;
margin-top: 20px; 
}


button:hover {
background-color: #CCCCFF;
}

/* Radio input followed by its text */
.radio-container input[type="radio"] {
  margin-right: 5px; /* Small gap between the radio button and its label */
}

.gender-selection {
  display: flex; /* Use flexbox for positioning */
}

/* Style for the gender label */
.gender-label {
  margin-right: 30px; /* Space after the "Gender:" label */
}

/* Flex container for the gender radio buttons */
.gender-radios {
  display: flex; /* Display radio buttons inline */
  margin-right: 590px;
}

/* Style for each gender radio button and label */
.gender-radio {
  margin-right: 40px; /* Space between the radio buttons */
  white-space: nowrap; /* Prevent wrapping of label text */
}
