/* RegisterRole.css */

.RolecontainerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.RoleiconStyle {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.RolebuttonStyle {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #ffe2e6; /* blue color, you can change it as needed */
  color: black; /* white color for text */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.RolebuttonStyle:hover {
  background-color: #CCCCFF; /* darker shade of blue on hover */
}

/* You can add more styles as needed */
