body, html {
  background-color: #ffe2e6; /* Light pink background */
  height: 100%; /* Full viewport height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  color: #333; /* Color for the subtitle */
  text-align: center;
  font-size: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

/* Center the form container on the page */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  padding: 20px; /* Spacing inside the container */
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
  top: 70%; /* Adjusted positioning */
}

.form-main {
  margin-bottom: 50px;
}

/* Style the input containers */
.label-input-container
 { 
  width: 100%; /* Full width */
  margin-bottom: 10px; /* Space between inputs */
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  margin-left: 350px;
}

.gender-selection{
  margin-right: 1150px;
}

/* Style the labels */
.label {
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold font for labels */
}

/* Style the input fields */
.input-field {
  padding: 10px;
  margin-bottom: 10px; /* Space between inputs */
  border: 1px solid #ddd; /* Light border for inputs */
  border-radius: 5px; /* Slightly rounded corners for inputs */
  width: 100%; /* Full width */
}


/* Style the radio buttons and their labels */
.radio-container label {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the space between the radio button and its label */
}

/* Style the radio buttons */
.radio-container input[type="radio"] {
  margin-right: 5px; /* Adjust the space between the radio button and its label */
}

/* Style the radio buttons */
.radio-container input[type="radio"] {
  margin-right: 5px; /* Adjust the space between the radio button and its label */
}

/* Bold the Gender label */
.gender-label {
  font-weight: bold; /* Bold font for the label */
}

/* Style the submit button */
button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1 rem;  
  color: black; 
  background-color: #ffe2e6;
  border: none; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
  margin-top: 20px; 
}

button:hover {
  background-color: #CCCCFF;
}
