body, html {
  background-color: #ffe2e6; /* Light pink background */
  height: 100%; /* Full viewport height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 100px;
  margin-bottom: 50px;
  margin-right: 50px;
}

/* Center the form container on the page */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  padding: 20px; /* Spacing inside the container */
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

/* Style the input containers */
.label-input-container {
  width: 200%; /* Full width */
  margin-bottom: 10px; /* Space between inputs */
  margin-left: 1050px;
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
}

/* Style the labels */
.label {
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold font for labels */
}

/* Style the input fields */
.input-field {
  padding: 10px;
  margin-bottom: 10px; /* Space between inputs */
  border: 1px solid #ddd; /* Light border for inputs */
  border-radius: 5px; /* Slightly rounded corners for inputs */
}

/* Style the submit button */
button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1 rem;  
color: black; 
background-color: #ffe2e6;
border: none; 
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
transition: background-color 0.3s ease;
margin-top: 20px; 
}


