/* Define variables for colors */
:root {
  --background-color: #ffe2e6;
  --form-background-color: #fff;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --button-background-hover: #ffd6dc;
}

body, html {
  background-color: var(--background-color); /* Light pink background */
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 4em;
  margin-bottom: 1em;
  margin-right: 1em;
}

/* Center the form container on the page */
.Partnerform-container {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Adjust if necessary to your design */
  justify-content: center;
  align-items: flex-start;
  /* Removed the absolute positioning and transformation */
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
  margin: auto; /* Auto margins for horizontal centering */
  margin-top: 10px; /* Adjust the top margin to ensure it doesn't overlap the header */
  background-color: var(--form-background-color);
  border-radius: 0.5em;
  box-shadow: 0 0.2em 0.5em var(--shadow-color);
}

.Partnerlabel-input-container {
  width: 100%; /* Adjust width to account for padding */
  margin-bottom: 1em; /* Define a specific margin-bottom */
  display: flex;
  flex-direction: column;
  margin-right: 0; /* Remove the right margin */
  align-items: flex-start;
}

/* Style the labels */
.Partnerlabel {
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* Style the input fields */
.Partnerinput-field {
  width: 100%; /* Input field size*/
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 0.1em solid var(--border-color);
  border-radius: 0.3em;
}

/* Style the submit button */
.Partnerbutton {
  cursor: pointer;
  padding: 10px 20px; /* Add more padding if you want the button taller or wider */
  font-size: 1em; /* This is typically suitable for most buttons, but adjust as needed */
  color: #333; /* This is a dark gray color, as black may be too strong */
  background-color: #ffe2e6; /* A light pink background color, matching your form */
  border: none !important; /* Removes the border */
  outline: none !important; /* Removes the outline */
  border-radius: 5px; /* Gives rounded corners to the button */
  box-shadow: none; /* Ensures there is no shadow */
  transition: background-color 0.3s ease;
  display: block; /* Sets the button as a block element */
  margin: 0 auto; /* Centers the button in its container */
  text-align: center; /* Ensures text is centered within the button */
}

.Partnerbutton:hover {
  background-color: var(--button-background-hover); /* Ensure this variable is defined */
}

.Partnerregistration-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children */
  width: 100%; /* This ensures that the container takes the full width */
}

.Partnerheader {
  text-align: center; /* Centers the text */
  width: 100%; /* Makes the header full width */
  max-width: 500px; /* Same max-width as your form container for alignment */
  margin: 120px auto 0; /* Centers the header */
  /* Add additional styling as needed */
}


