body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fafafa; /* Choose a light neutral background color */
}

.reset-password-container {
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    background: white; /* A contrasting background for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-bottom:30rem;
}

.reset-password-header {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

.reset-password-form input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.reset-password-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red; /* Red text color for error messages */
    margin: 10px 0; /* Space around the error message */
  }

@media (max-width: 768px) {
    .reset-password-container {
        width: 90%;
        margin-top: 30px;
    }
}
