.white-box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2%;
  margin-top:1000px; /* not working*/
  
}
  
  .container1 {
    
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    
  }

  .header{
    margin-top:100px;
  }

  .CMtable {
    width: 100%;
    border-collapse: collapse;
   
  }
  
  
  .CMtable th,
  .CMtable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center; /* Align table header and content center */
   
  }
  
  .CMtable th {
    background-color: #f2f2f2;
  }
  
  .CMtable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  