.UserHomeuser-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%; /* Adjusted from px to % */
}

.UserHomeproduct-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 2%; /* Adjusted for relative spacing */
  margin-bottom: 1%; /* Adjusted for relative spacing */
  width: 30%; /* Adjusted from a fixed px to a % of the parent */
}

.UserHomeproduct-details {
  margin-top: 2%; /* Adjusted for consistency */
  align-items: left;
  justify-content: left;
}

.UserHomeproduct-details div {
  margin-bottom: 1%; /* Adjusted for relative spacing */
  align-items: left;
  justify-content: left;
}

.UserHomethumbs-container {
  display: flex; /* Aligns children (buttons) inline */
  justify-content: center; /* Centers buttons horizontally */
  align-items: center; /* Aligns buttons vertically */
  gap: 200px; /* Adds space between the buttons */
}

.UserHomethumbs-container button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 6vw; /* Adjust the size as needed */
  padding: 0;
  margin: 0;
}

.UserHomethumbs-container button:hover {
  background-color: #CCCCFF; /* Color on hover */
}

.UserHomeproduct-container img {
  width: 80%; /* Relative to its parent container */
  height: auto;
  margin-bottom: 2%; /* Adjusted for relative spacing */
}

.UserHomeproduct-container a {
  color: blue;
  text-decoration: underline;
}

.UserHomeproduct-container a:hover {
  color: darkblue;
}
