.user-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 140px;
  }
  
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;
    
    
  }
  
  .product-details {
    margin-top: 10px;
    align-items: left;
    justify-content: left;
  }
  
  .product-details div {
    margin-bottom: 5px;
    align-items: left;
    justify-content: left;
  }
  
  .thumbs-container {
    margin-top: 10px;
  }
  
  .thumbs-container button {
    margin-right: 125px; /* Adjust the margin as needed */
    margin-left: 125px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 100px;
  }
  
  .thumbs-container button:hover {
    color: blue;
  }
  
  .product-container img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
   
  }
  
  .product-container a {
    color: blue;
    text-decoration: underline;
  }
  
  .product-container a:hover {
    color: darkblue;
  }
  