.user-profile-container {
  background: #f8d7e6; /* Background color for the form */
  padding: 1vw 1vw; /* Smaller padding */
  max-width: 30%; /* Narrower maximum width */
  margin-top: 8vw;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  border-radius: 2vw;
  box-shadow: 0 0.5vw 1.25vw rgba(0, 0, 0, 0.1);
}


.user-profile-form {
  display: flex;
  flex-direction: column;
  
}

.user-profile-form h1 {
  text-align: center;
  margin-bottom: 1vw; /* Responsive margin bottom */
}

.user-profile-form label {
  margin-bottom: 1vw; /* Responsive margin bottom */
  color: #333;
}

.user-profile-form input[type="text"],
.user-profile-form input[type="email"],
.user-profile-form input[type="tel"],
.user-profile-form input[type="date"],
.user-profile-form select {
  width: 100%;
  padding: 0.6vw; /* Responsive padding */
  margin-top: 0.5vw; /* Responsive margin top */
  border: 0.1vw solid #ccc; /* Responsive border */
  border-radius: 0.5vw; /* Responsive border radius */
  
  
}


.user-profile-form button {
  padding: 1vw 2vw; /* Responsive padding */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5vw; /* Responsive border radius */
  cursor: pointer;
  margin-top: 1vw; /* Responsive margin top */
  align-self: center;
}

.user-profile-form button:hover {
  background-color: #555;
}
