/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Ensure full height and width for html and body */
html, body {
  height: 100%;
  width: 100%;
}

/* Ensure full height and width for .App */
.App {
  background-color: #ffe2e6;
  height: 100vh; /* Ensure full viewport height */
  width: 100%; /* Ensure full viewport width */
}

/* Ensure full height for .page and remove absolute positioning from its child div */
.page {
  position: relative; /* Add relative positioning */
  height: 100%; /* Ensure full viewport height */
  width: 100%; /* Ensure full viewport width */
}

.page > div {
  background: var(--bg-color);
}
